<div id="content">
	  <h1 id="jobsTitle">
	    <%= t "join_us" %>
	  </h1>
  <p>
    <%= t "jobs_introduction" %>
  </p>
  <%= link_to t("contact_us"), contact_path, :id => "contactUs" %>
</div>
<ul>
  <li><%= link_to "Développeurs Ruby on Rails / CDI", "#dev"%>
    <br /><br /></li>
  <li><%= link_to "Ingénieur informaticien / Stage", "#inge"%><br /><br /></li>
  <li><%= link_to "Web marketeur / CDI", "#market"%></li>
</ul>

