<div id="content">
	  <h1 id="jobsTitle">
	    <%= t "join_us" %>
	  </h1>
  <p>
    <%= t "jobs_introduction" %>
  </p>
<ul>
  <li><%= link_to t("developer_rails"), "#dev"%></li>
  <li><%= link_to t("software_engineer"), "#inge"%></li>
  <li><%= link_to t("web_marketer"), "#market"%></li>
</ul>
</div>

