<div id="saasAssets">
	<div class="fixedWidthContent clearfix">
		<div id="assets">
			<h1>"<%= t "saas_assets_intro" %>"</h1>
			
			<div class="saasAsset" id="saasAsset1">
				<h2><%= t "saas_asset_title_1" %></h2>
				<%= t "saas_asset_1"%>
			</div>
			<div class="saasAsset"  id="saasAsset2">
				<h2><%= t "saas_asset_title_2" %></h2>
				<%= t "saas_asset_2"%>
			</div>
			<div class="saasAsset"  id="saasAsset3">
				<h2><%= t "saas_asset_title_3" %></h2>
				<%= t "saas_asset_3"%>
			</div>
		</div>
		<%= link_to "", contact_path, :id => "learnMoreModule" %>
	</div>
</div>