<div id="contactContent" class="clearfix pageContent classicHtml">
  <div class="fixedWidthContent">
    <div class="halfZone">


      <% if @message.nil? %>
        <p>
          Your feedback and questions are important to us
        </p>

        <% form_for(:message, :url => contact_path ) do |f| %>
          <table cellpadding="0" cellspacing="0" width ="100%">
            <tr>
              <td class="FormLabel">
                Subject
              </td>
            </tr>
            <tr>
              <td>
                <%= f.text_field :subject %>
              </td>
            </tr>
            <tr>
              <td class="FormLabel">
                Question / Comment
              </td>
            </tr>
            <tr>
              <td>
                <%= f.text_area :body, :rows => "10", :style => "width : 400px;"  %>
              </td>
            </tr>
          </table>
          <div id="button">
            <%= submit_tag "Send", :class => "button" %>
          </div>
        <% end -%>
      <% else %>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>
          Thank you for your email. We will get back to you very shortly
        </p>

      <% end -%>



    </div>

    <div class="halfZone">
      <p>
        <strong><%= image_tag "phone.png" %> Phone: +33 (0) 1 45 81 82 59</strong>
      </p>
      <p>
        <strong><%= image_tag "email.png" %> <%= t "email" %>: <%= link_to "contact@qameha.com", "mailto:contact@qameha.com"%></strong>
      </p>
      <p>
        You can also follow us on twitter
      </p>
      <div id="twitter" style="margin-bottom: 50px;">
        <div id="twitter_logo" style="float:left; margin-right :10px;">
          <%= link_to image_tag("twitter.png"), "http://twitter.com/qameha_HR",:target => "_blank" %>
        </div>
        <%= link_to "@Qameha_HR", "http://twitter.com/Qameha_HR", :target => "_blank" %>
        <br />
        <%= link_to "@alexip Alexis Perrier", "http://twitter.com/alexip", :target => "_blank" %>
      </div>
      <p>
        Our French offices are situated at<br /> 9 rue Dareau 75014 Paris.
      </p>
      <iframe width="325" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=9+Rue+Dareau,+75014+Paris,+France&amp;sll=48.856667,2.350987&amp;sspn=0.32844,0.696945&amp;ie=UTF8&amp;hq=&amp;hnear=9+Rue+Dareau,+75014+Paris,+Ile-de-France,+France&amp;ll=48.831511,2.3385&amp;spn=0.041076,0.087118&amp;z=14&amp;output=embed"></iframe><br />
      <small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=9+Rue+Dareau,+75014+Paris,+France&amp;sll=48.856667,2.350987&amp;sspn=0.32844,0.696945&amp;ie=UTF8&amp;hq=&amp;hnear=9+Rue+Dareau,+75014+Paris,+Ile-de-France,+France&amp;ll=48.831511,2.3385&amp;spn=0.041076,0.087118&amp;z=14" style="color:#0000FF;text-align:left" target="_blank">Enlarge</a></small>
    </div>
  </div>
</div>