<div class="clearfix pageContent modulePage evaluationModule">
	<div class="fixedWidthContent clearfix">
		<div id="assets">
			<p class="introduction">
				<%= t "evaluation_introduction" %>
			</p>
		
			<h1>"<%= t "evaluation_assetsblock_intro" %>"</h1>
		
			<div class="moduleAsset" id="asset1">
				<%= t "evaluation_asset1_content" %>
			</div>
			<div class="moduleAsset" id="asset2">
				<%= t "evaluation_asset2_content" %>
			</div>
			<div class="moduleAsset" id="asset3">
				<%= t "evaluation_asset3_content" %>
			</div>
		</div>
			
		<div id="testimonials">
			<div id="top"></div>
			<p> 
				<%= image_tag "open_quote_light.jpg" %>
				<span id="quote_0" class="quote"><%= t "evaluation_quote" %></span>
				<%= image_tag "close_quote_light.jpg", :id => "closeQuote" %>
			</p>
			<div id="client">
				<%#*<span class="client" id="client_0">%>
<%#= t "client_evaluation" %>
                <%#*</span>%>
			</div>
			<div id="bottom"></div>
		</div>
	</div>
	<%= render :partial => "saas_assets"%>
</div>