<div id="teamContent" class="clearfix pageContent classicHtml">
  <div class="fixedWidthContent">

    <p>
      We have gathered here the main questions our customers asks us.
    </p>
    <p>
      <%= link_to "Contact us", contact_path %>  if this page does not fully answer your question.
    </p>



    <h3><%= image_tag "mobility_dot.jpg" %>How safe is my data ?</h3>
    <p>We do 3 things to make sure your data is safe.
    </p>
    <ol>
      <li>
        All data is backed up everyday on a remote server. We use Amazon's S3 servers.
      </li>
      <li>
        All accounts are encrypted with SSH. Just like your bank.
      </li>
      <li>
        We have a direct contact with all paying customers and we don't store passwords.
      </li>
    </ol>



    <h3><%= image_tag "recruiting_dot.jpg" %>My data is highly confidential. Who is able to access it ?</h3>
    <p>We know that all aspects of your recruitment activity can be confidential. Job openings and candidates alike.
    </p>
    <p>Nothing in the application is published on the web. The only exception being job descriptions which can be accessible from the web only when the mission owner decides to publish it online.</p>
    <p>Users have specific roles and access levels by default on a need to know basis. For example an interviewer with a candidate will only see this candidate and the mission he / she is interviewed for.</p>

    <h3><%= image_tag "evaluation_dot.jpg" %>Can I backup my own data ?</h3>
    <p>Absolutely ! This is a very important point. You OWN your data all the time. The account owner and only the account owner can backup all the account data with just a click.
      The account owner gets a zip file with all the candidates documents, job descriptions and excell files for all carried out interviews.
    </p>

    <h3><%= image_tag "mobility_dot.jpg" %>How can I close / upgrade / downgrade my account ?</h3>
    <p>All web paying and free accounts can with a click upgrade or downgrade their account. Anytime.
      The new price will be reflected in the next month bill.
    </p>

    <h3><%= image_tag "recruiting_dot.jpg" %>Do I need to install anything ?</h3>
    <p>No that's the beauty of web applications. Qameha is available via the internet or on 3G mobile phones with a data subscription.
      You don't have to install, upgrade or maintain anything. <br />Your IT departement does not need to get involved (we'll be happy to answer their questions though).
    </p>

    <h3><%= image_tag "evaluation_dot.jpg" %>What do I get when I subscribe ?</h3>
    <p>You get an access to the Qameha web service. A web based application that helps you manage your recruitment process.
      Subscription is renewed automatically on a monthly basis. The different plans we offer differ on the amount of users, job openings and data volume you can have.
      Check out our <%= link_to "Plans and Pricing", "http://qameha.net" %>
    </p>

    <h3><%= image_tag "mobility_dot.jpg" %>What browser are you compliant with ? Does Qameha work with IE6 ?</h3>
    <p>Qameha works on all the recent versions of all major browers : Firefox, Chrome, Opera, Internet Explorer 7 and 8. You need to have javascript enabled and flash
    </p>
    <p>Qameha works also with IE6. However we urge you to upgrade your browser to a more recent version as IE6 is known for not being secure.</p>

    <h3><%= image_tag "recruiting_dot.jpg" %>Where can I find help ? I found a bug, something is not working who can I contact ?</h3>
    <p>Right now the best way is to <%= link_to "Contact us", contact_path %>. If something is not obvious to you or if something seems broken, you'll do us a favor by telling us.
    </p>
    <p>You can also tweet your problem with the word "qameha" in your tweet. We'll get in touch with you right away (depending on your time zone of course)
    </p>

    <h3>Where is my data hosted ?</h3>
    <p>For the moment we use the services of Brightbox, a UK based hosting provider, and the European servers of Amazon.
    </p>

    <p>We will offer US based hosting very soon. <%= link_to "Contact us", contact_path %> to know more.
    </p>



    <h3><%= image_tag "mobility_dot.jpg" %>When do I pay ?</h3>
    <p>You don't pay for the first month of subscription. All accounts have a 30 day free trial period.
    </p>
    <p>Then you pay at the beginning of each month, for your monthly subscription.
    </p>
    <p>Other payment frequencies are also available (year, trimester, ...)
    </p>

    <h3><%= image_tag "recruiting_dot.jpg" %>Do I need a credit card ?</h3>
    <p>Yes and No. After you subscribe we will get in touch with you to set up a method of payement that's best suited for your needs.
    </p>

  </div>
</div>