<div class="clearfix pageContent">
	<div class="fixedWidthContent">
		<div class="moduleBlock" id="recruiting">
			<%= link_to "<h1>Recrutement</h1>", recruiting_path %>
			<p>
				Gère le recrutement depuis la définition de poste jusqu'à l'intégration du candidat. 
				Participatif, Qameha implique les opérationnels, automatise les relances et fait gagner temps et qualité à chaque étape.
			</p>
			<ul>
				<li>Structure</li>
				<li>Cadence</li>
				<li>Pilote</li>
			</ul>
			<p>
				<%= link_to "En savoir plus", "#"%>
			</p>
		</div>
		<div class="verticalSeparator"></div>
		<div class="moduleBlock" id="evaluation">
			<%= link_to "<h1>Evaluation</h1>", evaluation_path %>
			<p>
				Gère le recrutement depuis la définition de poste jusqu'à l'intégration du candidat. 
				Participatif, Qameha implique les opérationnels, automatise les relances et fait gagner temps et qualité à chaque étape.
			</p>
			<ul>
				<li>Structure</li>
				<li>Cadence</li>
				<li>Pilote</li>
			</ul>
			<p>
				<%= link_to "En savoir plus", "#"%>
			</p>
		</div>
		<div class="verticalSeparator"></div>
		<div class="moduleBlock" id="mobility">
			<%= link_to "<h1>Mobilité</h1>", mobility_path %>
			<p>
				Gère le recrutement depuis la définition de poste jusqu'à l'intégration du candidat. 
				Participatif, Qameha implique les opérationnels, automatise les relances et fait gagner temps et qualité à chaque étape.
			</p>
			<ul>
				<li>Structure</li>
				<li>Cadence</li>
				<li>Pilote</li>
			</ul>
			<p>
				<%= link_to "En savoir plus", "#"%>
			</p>
		</div>
		<div id="testimonials">
			<div id="top"></div>
			<p> 
				<%= image_tag "open_quote.jpg" %>
				<span id="quote_0" class="quote">Qameha est une solution complète de gestion des recrutements conçue et réalisée par des opérationnels des Ressources Humaines.</span>
				<span id="quote_1" class="quote" style="display:none;">Qameha est une cool</span>
				<span id="quote_2" class="quote" style="display:none;">Qameha est génial</span>
				<span id="quote_3" class="quote" style="display:none;">Qameha est blah</span>
				<span id="quote_4" class="quote" style="display:none;">Qameha est blah</span>
				
				<%= image_tag "close_quote.jpg", :id => "closeQuote" %>
			</p>
			<div id="client">
				<span class="client" id="client_0">Groupe Hubert</span>
				<span class="client" id="client_1" style="display:none;">Google</span>
				<span class="client" id="client_2" style="display:none;">Nintendo</span>
				<span class="client" id="client_3" style="display:none;">Fnac</span>
				<span class="client" id="client_4" style="display:none;">Facebook</span>
			</div>
			<div id="caroussel">
				<a href="#" id="previousTestimonial">Précédent</a> | <span id="testimonialsCount">1</span> / 5 | <a href="#" id="nextTestimonial">Suivant</a>
			</div>
			<div id="bottom"></div>
		</div>
	</div>
</div>
<div id="newsAndTwitter">
	<div class="fixedWidthContent">
		<div id="twitter">
			<h2>Twitter</h2>
			<p>
				"Qameha recherche un Ruby on Rails Jedi Master ! http://is.gd/5MPMV contact : ror.qameha@qameha.net"
			</p>
			<div id="date">4 Janvier 2010</div>
			<%= link_to "Nous suivre sur Twitter", "http://twitter.com/qameha", :id => "followUs" %>
		</div>
		<div id="news">
			<h2>Actu</h2>
			<p>
				Retrouvez nous au Salon des Solutions Ressources Humaines
				<em>
					Porte de Versailles du 9 au 11 mars 2010 - Stand E25
				</em>
			</p>
			<%= image_tag "q.jpg" %>
		</div>
	</div>
</div>