<div id="jobsContent" class="clearfix pageContent classicHtml">
	<div class="fixedWidthContent">		

      <h2 id="dev">
<%= t "developer_rails" %>
        </h2>
		<%= image_tag "rails.png", :style => "float:right"%>
		<p><%= t "developer_rails_looking_for"%></p>

		<p><%= t "developer_rails_context" %></p>

		<p><b><%= t "technical_content" %></b></p>
		<ul>
			<li><%= t "developer_rails_technical_bullet_0" %></li>
			<li><%= t "developer_rails_technical_bullet_1" %></li>
			<li><%= t "developer_rails_technical_bullet_2" %></li>
			<li><%= t "developer_rails_technical_bullet_3" %></li>
			<li><%= t "developer_rails_technical_bullet_4" %></li>
		</ul>

		<p><b><%= t "required_skills" %></b></p>
		<ul>
			<li><%= t "developer_rails_required_bullet_0" %></li>
			<li><%= t "developer_rails_required_bullet_1" %></li>
			<li><%= t "developer_rails_required_bullet_2" %></li>
			<li><%= t "developer_rails_required_bullet_3" %></li>
		</ul>

		<p><%= t "english_required" %></p>

		<p><%= t "if_interested" %> : <%= link_to "ingnieur_informatique_ror.qameha@qameha.net", "mailto:ingnieur_informatique_ror.qameha@qameha.net"%></p>
		
		
		      <hr />

		<h2 id="inge">
<%= t "software_engineer"%>
        </h2>
		<p><%= t "software_engineer_looking_for" %></p>

		<p><%= t "software_engineer_context"%></p>

		<p><b><%= t "technical_content" %></b></p>
		<ul>
			<li><%= t "software_engineer_technical_bullet_0" %></li>
			<li><%= t "software_engineer_technical_bullet_1" %></li>
			<li><%= t "software_engineer_technical_bullet_2" %></li>
			<li><%= t "software_engineer_technical_bullet_3" %></li>
			<li><%= t "software_engineer_technical_bullet_4" %></li>
		</ul>

		<p><b><%= t "required_skills" %></b></p>
		<ul>
			<li><%= t "software_engineer_required_bullet_0" %></li>
			<li><%= t "software_engineer_required_bullet_1" %></li>
			<li><%= t "software_engineer_required_bullet_2" %></li>
			<li><%= t "software_engineer_required_bullet_3" %></li>
		</ul>

		<p><%= t "english_required" %></p>

		<p><%= t "if_interested" %> : <%= link_to "stage.qameha@qameha.net", "mailto:stage.qameha@qameha.net"%></p>
		
      <hr />
		<h2 id="market"><%= t "web_marketer" %></h2>
		<p>
			<%= t "web_marketer_content" %> <%= link_to "web_marketeur.qameha@qameha.net", "mailto:web_marketeur.qameha@qameha.net" %>
		</p>
        <p>&nbsp;</p>
    </div>
</div>
