<div class="clearfix pageContent modulePage mobilityModule">
	<div class="fixedWidthContent clearfix">
		<div id="assets">
			<%= t "mobility_placeholder_text"%>
		</div>
			
		<div id="testimonials">
			<div id="top"></div>
			<p> 
				<%= image_tag "open_quote_light.jpg" %>
				<span id="quote_0" class="quote"><%= t "mobility_quote" %></span>
				<%= image_tag "close_quote_light.jpg", :id => "closeQuote" %>
			</p>
			<div id="client">
				<span class="client" id="client_0"><%= t "client_mobility" %></span>
			</div>
			<div id="bottom"></div>
		</div>
	</div>
</div>