<div id="teamContent" class="clearfix pageContent classicHtml">
	<div class="fixedWidthContent">
		
		<h3>Alexis Perrier, Ph.D. Founder, CTO</h3>
		<p>
			<%= image_tag "alexis-perrier.jpg" %>

Alexis leads the Qameha online marketing and development strategy.
<br />He is entrepreneur-minded and has extensive experience
in the creation and promotion of web applications as well as IT project management for large and medium size companies.
<br />Alexis is an International Web 2.0 professional with ~15 years of solid experience.
<br />Alexis has a Ph. D in signal processing from the TelecomParisTech school of engineering in Paris. He is also a certified PRINCE2 project manager.
            <br >
            <br >
            You can follow Alexis on twitter <%= link_to "@alexip", "http://twitter.com/alexip" , :target => "_blank"%> , connect with him on <%= link_to "Linkedin", "http://www.linkedin.com/in/alexisperrier", :target => "_blank"%> or read his blog
            <%= link_to "Darjeelink", "http://darjeelink.com", :target => "_blank" %>
		</p>

        <h3>Léonard Briot de La Crochais, Founder, Directeur of Strategy and Partnerships</h3>

        <p>			<%= image_tag "leonard-briot-de-la-crochais.jpg" %>
          Leonard is a passionate recruiter.
          <br />Having worked for Michael Page as the Director of the finance division for 10 years he co founded Qameha
          in order to bring solutions to the issues he faces everyday.
          How to best recruit ? How to attract and motivate high profiles? How to better manage people.
          <br />Leonard has 15 years of professional experience in Recruiting, lobbying and structured financing. Leonard holds a degree from the
          prestigious Ecole Science Po' in Paris

            <br />
            <br />
            Connect with Leonard on <%= link_to "Linkedin", "http://www.linkedin.com/in/briotdelacrochais", :target => "_blank"%>

        </p>

		<h3>Cédric Hauguel, Founder, Sales director</h3>
		<p>
			<%= image_tag "cedric-hauguel.jpg" %>
          Cédric leads the sales team. He is an experienced Recruiter with 10 years of experience in recruiting at Michael Page and in the banking sector.
          
			<br />
			<br />
			Connect with Cédric on <%= link_to "Linkedin", "http://www.linkedin.com/in/cedrichauguel", :target => "_blank"%>
		</p>
		
	</div>
</div>