<div id="teamContent" class="clearfix pageContent classicHtml">
	<div class="fixedWidthContent">
		
		<h3>Léonard Briot de La Crochais, Associé, Directeur de la Stratégie et des Partenariats</h3>
		<p>
			<%= image_tag "leonard-briot-de-la-crochais.jpg" %>
			Léonard ne blogue pas, ne tweet pas et confesse volontiers qu’il trouve les machines faites pour l’homme et pas l’homme pour les machines.
			Marin en course ou famille, il a le goût des relations humaines simples, directes et efficaces, autant que des routes peu tracées.
        </p>
        <p>
			Plongé dans les enjeux de ressources humaines de ses clients depuis 10 ans, il souhaite avec Qameha apporter des réponses aussi simples qu’innovantes aux questions qui lui sont soumises quotidiennement : comment recruter, comment attirer les talents, comment les motiver et les conserver, comment améliorer le management des hommes…
        </p>
        <p>
			Après Sciences Po (94), il a fait du lobbying, des financements internationaux, a vécu au Maroc, et a rejoint le monde des RH en 1999.
            <br />
            <%= link_to "Retrouvez Léonard sur Linkedin", "http://www.linkedin.com/in/briotdelacrochais", :target => "_blank"%>

        </p>
		<ul>
		<li>15 ans d&#8217;expérience professionnelle dans les métiers du lobbying, des financements structurés et du recrutement</li>
		<li>10 ans de recrutement de cadres, Directeur de la division Finance de Michael Page jusqu&#8217;en 2006, Fondateur du cabinet Abaq spécialisé dans le recrutement des managers de la direction financière.</li>
		<li>Sciences Po Paris 1994, Licence Droit des Affaires (Paris II)</li>
		</ul>

		<h3>Cédric Hauguel, Associé, Directeur Commercial</h3>
		<p>
			<%= image_tag "cedric-hauguel.jpg" %>
			Cédric apporte à Qameha son sens du service client, ainsi que sa connaissance du recrutement acquise chez Michael Page.
			Sa méticuleuse patience, acquise sans doute sur les parcours de golf, en font également le responsable administratif de notre jeune compagnie.

			Il a aussi rêvé d’être vétérinaire, et l’on espère que son goût des RH n’en est pas inspiré.
			<br />
			<%= link_to "Retrouvez Cédric sur Linkedin", "http://www.linkedin.com/in/cedrichauguel", :target => "_blank"%>
		</p>
		<ul>
		<li>10 ans d&#8217;expérience professionnelle dans les métiers de la banque et du recrutement</li>
		<li>4 ans de recrutement de cadres financiers, Senior Manager au sein de la division Finance de Michael Page jusqu&#8217;en 2008</li>
		<li>Maîtrise de Sciences de Gestion 1999</li>
		</ul>
		
		<h3>Alexis Perrier, Associé, Directeur Technique</h3>
		<p>
			<%= image_tag "alexis-perrier.jpg" %>
			Alexis est un passionné d’application web depuis une dizaine d’années. 
            Il a accompagné grands groupes et PME dans l’élaboration et la mise en oeuvre de leurs stratégies Internet.
            Féru d’open source, il ne jure que par les méthodologies de développement en mode Agile
            et le framework Ruby on Rails.
            <br >
            Il tweet sur <%= link_to "@alexip", "http://twitter.com/alexip" , :target => "_blank"%> et met son profil à jour sur <%= link_to "Linkedin", "http://www.linkedin.com/in/alexisperrier", :target => "_blank"%>.
		</p>
		<ul>
		<li>13 ans d&#8217;expérience professionnelle dans les métiers du conseil, du projet et dans la&nbsp;création d&#8217;applications web,</li>
		<li>Chef de projet certifié Prince2.</li>
		<li>Docteur en Mathématiques 1995, Ingénieur Télécom Paristech 1992,</li>
		</ul>
		
		
	</div>
</div>